.bg-black {
  background: #000;
  color: #fff; }

#main-header .myPicture {
  background-color: #ccc;
  position: relative; }
  #main-header .myPicture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

<<<<<<< HEAD
.project-details {
  background-color: #333;
||||||| merged common ancestors
  #portfolio .project-details{
    background-color: #333;
    color: #fff;
  }

#work .col-md-4 .card-body {
  background-color: #555;
=======
.project-details {
  background-color: #333;
  color: #fff; }

.social-icons .fa {
  color: #888;
  -webkit-transition: color 0.2s; }

.social-icons .fa:hover {
>>>>>>> 28f8678562e6758b19da7b22c491f74b024ef920
  color: #fff; }

<<<<<<< HEAD
#work .card-footer h6 {
  font-size: 0.8em; }

||||||| merged common ancestors
=======
#work .carousel-inner {
  position: relative; }
  #work .carousel-inner .img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

#work .card-footer {
  background-color: #000; }
  #work .card-footer h6 {
    font-size: 0.8em; }

>>>>>>> 28f8678562e6758b19da7b22c491f74b024ef920
@media only screen and (max-width: 991px) {
  #work .carousel-caption h3 {
    font-size: 1em; }
  #work .carousel-caption p {
    font-size: 0.7em; } }

@media only screen and (max-width: 767px) {
  #work .card .card-header {
    font-size: 1.2em; }
  #work .card .card-text {
    font-size: 0.7em; }
  #work .card .card-body p {
    font-size: 0.7em; }
  #main-header .myPicture img {
    position: relative; }
  .container {
    padding: 0;
    margin: auto; } }

@media only screen and (max-width: 346px) {
  #main-header .port-item .fa {
    font-size: 1em; }
  #work .carousel-caption h3 {
    font-size: 0.7em; }
  #work .carousel-caption p {
    font-size: 0.5em; } }
