.bg-black {
  background: #000;
  color: #fff; }

#main-header .myPicture {
  background-image: url("../img/myphoto1.jpg");
  background-size: cover;
  background-position: center; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

  #portfolio .project-details{
    background-color: #333;
    color: #fff;
  }

#work .col-md-4 .card-body {
  background-color: #555;
  color: #fff; }

@media only screen and (max-width: 991px) {
  .container {
    padding: 0;
    margin: auto; } }

@media only screen and (max-width: 346px) {
  #main-header .port-item .fa {
    font-size: 1em; } }
